<section class="content">
  <div class="container-fluid">
    <div class="card">
      <p-table #dt [value]="list" [rows]="5" [paginator]="true" [loading]="loading"
        [globalFilterFields]="['id', 'descripcion']" responsiveLayout="scroll" [(selection)]="selectedAllRegister"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 15]">
        <ng-template pTemplate="caption">
          <div class="botones">
            <div>
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-sm p-button-outlined p-button-success p-mr-2 m-1" pTooltip="Exportar a Excel"
                tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                class="p-button-sm p-button-outlined p-button-danger p-mr-2 m-1" pTooltip="Exportar a PDF"
                tooltipPosition="bottom"></button>
              <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger p-button-sm m-1"
                (click)="deleteSelected()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                [disabled]="!selectedAllRegister || !selectedAllRegister.length"></button>
              <button pButton label="Limpiar" class="p-button-outlined p-button-sm m-1" icon="pi pi-filter-slash"
                (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
            </div>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="p-inputtext-sm" (input)="applyFilter($event, dt)"
                placeholder="Busqueda General" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

            <th pSortableColumn="grupoOcupacional">
              <div class="flex justify-content-between align-items-center">
                Grupo Ocupacional
                <p-sortIcon field="grupoOcupacional"></p-sortIcon>
                <p-columnFilter type="text" field="grupoOcupacional" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="grado">
              <div class="flex justify-content-between align-items-center">
                Grado
                <p-sortIcon field="grado"></p-sortIcon>
                <p-columnFilter type="text" field="grado" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="remuneracion">
              <div class="flex justify-content-between align-items-center">
                Remuneración
                <p-sortIcon field="remuneracion"></p-sortIcon>
                <p-columnFilter type="text" field="remuneracion" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td>
              <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>

            <td>{{ data.grupoOcupacional }}</td>
            <td>{{ data.grado }}</td>
            <td>{{ data.remuneracion }}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2" (click)="edit(data)"
                pTooltip="Editar" tooltipPosition="left"></button>
              <button pButton pRipple icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text p-button-sm" (click)="deleteRegister(data.id)"
                pTooltip="Eliminar" tooltipPosition="left"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Registros Totales: {{ list ? list.length : 0 }}.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
<app-global-confirm-dialog></app-global-confirm-dialog>
