<div class="contenedor-imagen-yavirac d-block">
  <header>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <nav>
      <div class="logo">
        <img src="/assets/img/log.jpeg" alt="Logo" />
      </div>
      <ul>
        <li>
          <a href="/home"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li>
          <a href="/inventario"><i class="fas fa-warehouse"></i> Inventario</a>
        </li>
        <li>
          <a href="/docentes"
            ><i class="fas fa-chalkboard-teacher"></i> Docentes</a
          >
        </li>
        <li class="logout">
          <a href="/login">
            <i class="fas fa-sign-out-alt"></i>
            <span>Cerrar sesión</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="inventario">
      <div class="container">
        <a href="/docentes" class="card">
          <img src="/assets/img/profe.jpeg" alt="Docentes" />
          <h3>DOCENTES</h3>
          <p>Información sobre tus docentes.</p>
        </a>
        <a href="/inventario" class="card">
          <img src="/assets/img/inve.jpeg" alt="Laboratorios" />
          <h3>INVENTARIOS</h3>
          <p>Información sobre los laboratorios, aulas y oficinas.</p>
        </a>
      </div>
    </section>
  </main>
  <br /><br /><br /><br />
  <footer>
    <p>
      &copy; 2024 | Instituto Superior Tecnológico de Turismo y Patrimonio
      Yavirac | Quito | Todos los derechos reservados.
    </p>
  </footer>
</div>
