nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0B3C61;
  padding: 10px 20px;
  color: white;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.nav-links a i {
  margin-right: 8px;
}

.logout a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.logout a i {
  margin-right: 8px;
}

.pointer-botton{
  cursor: pointer;
}


main {
  padding: 20px;
  text-align: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin: 20px 0;
  color: #000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}


h1, h2 {
  color: #000000;
}


@media (max-width: 768px) {


  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}

app-card {
  width: 340px;
}
