<div class="contenedor-imagen-logo-yavirac d-block">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <nav>
    <div class="logo">
      <img src="/assets/img/log.jpeg" alt="Logo" />
    </div>
    <ul class="nav-links">
      <li>
        <a href="/home"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li>
        <a href="/docentes"
          ><i class="fas fa-chalkboard-teacher"></i> Docentes</a
        >
      </li>
      <li>
        <a href="/inventario"><i class="fas fa-box"></i> Inventario</a>
      </li>

      <li class="dropdown">
        <a href="#"><i class="fas fa-folder"></i> Otros</a>
        <ul class="dropdown-menu">
          <li><a href="/nacionalidad"><i class="fas fa-globe"></i> Nacionalidades</a></li>
          <li><a href="/categoria-bien"><i class="fas fa-tags"></i> Categoría del Bien</a></li>
          <li><a href="/carreras"><i class="fas fa-graduation-cap"></i> Carreras</a></li>
          <li><a href="/rol-institucional"><i class="fas fa-user-tag"></i> Roles Institucionales</a></li>
          <li><a href="/instituto"><i class="fas fa-university"></i> Institutos</a></li>
        </ul>
      </li>
    </ul>
    <div class="logout">
      <a (click)="cerrarSesion()" class="pointer-botton"
        ><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a
      >
    </div>
  </nav>
  <div class="container-page mb-4">
    <div class="custom-card-header">
      <h4 class="m-1">INICIO</h4>
      <div class="line"></div>
      <p class="mt-1">Bienvenidos al sistema de gestion de inventario</p>
    </div>

    <main>
      <div class="container">
        <app-card
          ruta="/docentes"
          rutaImg="/assets/img/profe.jpeg"
          titulo="DOCENTES"
          descripcion="Información sobre tus docentes."
        ></app-card>
        <app-card
          ruta="/inventario"
          rutaImg="/assets/img/inve.jpeg"
          titulo="INVENTARIOS"
          descripcion="Información sobre los laboratorios, aulas y oficinas."
        ></app-card>
      </div>
    </main>
  </div>

  <app-footer></app-footer>
</div>
