<div class="contenedor-imagen-logo-yavirac d-block">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <nav>
    <div class="logo">
      <img src="/assets/img/log.jpeg" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="/home"><i class="fas fa-home"></i> Inicio</a></li>
      <li><a href="/inventario"><i class="fas fa-box"></i> Inventario</a></li>
      <li><a href="/docentes"><i class="fas fa-chalkboard-teacher"></i> Docentes</a></li>
    </ul>
    <div class="logout">
      <a (click)="cerrarSesion()" class="pointer-botton"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    </div>
  </nav>

  <main class="my-5">
      <div class="container ">
        <a href="/docentes" class="card">
          <img src="/assets/img/profe.jpeg" alt="Docentes" />
          <h3>DOCENTES</h3>
          <p>Información sobre tus docentes.</p>
        </a>
        <a href="/inventario" class="card">
          <img src="/assets/img/inve.jpeg" alt="Laboratorios" />
          <h3>INVENTARIOS</h3>
          <p>Información sobre los laboratorios, aulas y oficinas.</p>
        </a>
      </div>
  </main>
  <app-footer></app-footer>
</div>