<app-navbar></app-navbar>
<div class="contenedor-imagen-logo-yavirac d-block">
  <div class="container-page mb-4">
    <div class="custom-card-header">
      <h4 class="m-1">Tu Inventario</h4>
      <div class="line"></div>
      <p class="mt-1">Bienvenidos al sistema de gestión de inventario</p>
    </div>
    <main>
      <div class="container">
        <app-card
          ruta="/docentes"
          rutaImg="/assets/img/aula.jpeg"
          titulo="AULAS"
          descripcion="Información sobre las AULAS."
        ></app-card>
        <app-card
          ruta="/oficinas"
          rutaImg="/assets/img/of.jpeg"
          titulo="OFICINAS"
          descripcion="Información sobre las oficinas."
        ></app-card>
        <app-card
          ruta="/laboratorios"
          rutaImg="/assets/img/lab.jpeg"
          titulo="LABORATORIOS"
          descripcion="Información sobre los laboratorios."
        ></app-card>
      </div>
    </main>
  </div>
</div>
<app-footer></app-footer>
