.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan en varias líneas */
  gap: 20px; /* Ajusta el espacio entre las tarjetas */
  padding: 20px; /* Espacio alrededor del contenedor */
}

app-card {
  width: 250px;
  flex-shrink: 0; /* Evita que las tarjetas se reduzcan de tamaño */
  margin: 0; /* Elimina márgenes para asegurar que caben en una sola fila */
}

.container-page {
  margin-top: 40px; /* Aumenta el margen superior del contenedor */
  width: 85%; /* Ajusta el ancho del contenedor */
  margin-left: 7.5%; /* Ajusta el margen izquierdo del contenedor */
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0 6px 8px #a1a1a1; /* Aumenta la sombra del contenedor */
}

.custom-card-header {
  background-color: #0D3C61;
  border-radius: 5px 5px 0 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.line {
  padding-top: 3px;
  padding-left: 80vw;
  background-color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0B3C61;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.dropdown-menu li a {
  padding: 10px;
  white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.contenedor-imagen-logo-yavirac {
  margin: 0;
  padding: 0;
  background-image: URL("/assets/img/logo_login.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.card img {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 1200px) {
  .container {
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en pantallas más pequeñas */
  }
}
