<app-spinner [load]="loadingSpiner">
  <app-navbar></app-navbar>

  <div class="crud-container">
    <div class="custom-card-header">
      <h4>Institutos</h4>
    </div>
    <!-- <p-confirmDialog class="custom-confirm-dialog"></p-confirmDialog> -->

    <p-dialog
      class="custom-dialog bg-blue-900"
      header="Institutos"
      [(visible)]="modal"
      [modal]="true"
      (onHide)="closeModal()"
      [style]="{ width: '60rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="true"
    >
      <br />
      <form [formGroup]="form" class="custom-form">
        <app-spinner [load]="loadingSpinerForm">
          <div class="p-fluid p-formgrid grid custom-form-grid">
            <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
              <div class="d-flex">
                <div class="col me-3">
                  <span class="p-float-label mb-4">
                    <input
                      pInputText
                      id="ftxt-canton"
                      type="text"
                      formControlName="canton"
                      required
                    />
                    <label for="ftxt-canton">* Canton</label>
                  </span>

                  <span class="p-float-label mb-4">
                    <p-dropdown formControlName="provincias" placeholder="* Provincias"
                        [options]="formSelectDataProvincia" [filter]="true" [showClear]="true"
                        filterBy="data" optionLabel="data" optionValue="value">
                    </p-dropdown>
                    <label for="ftxt-provincia">* Provincias</label>
                  </span>

                  <span class="p-float-label mb-4">
                    <input
                      pInputText
                      id="ftxt-coordinacionZonal"
                      type="text"
                      formControlName="coordinacionZonal"
                      required
                    />
                    <label for="ftxt-coordinacionZonal"
                      >* Coordinacion Zonal</label
                    >
                  </span>

                  <span class="p-float-label mb-4">
                    <input
                      pInputText
                      id="ftxt-direccionInstituto"
                      type="text"
                      formControlName="direccionInstituto"
                      required
                    />
                    <label for="ftxt-direccionInstituto"
                      >* Direccion Instituto</label
                    >
                  </span>
                </div>
                <div class="col">
                  <span class="p-float-label mb-4">
                    <input
                      pInputText
                      id="ftxt-nombre"
                      type="text"
                      formControlName="nombre"
                      placeholder="obtencionTitulo"
                      required
                    />
                    <label for="ftxt-nombre">* Instituto</label>
                  </span>
                  <span class="p-float-label mb-4">
                    <input
                      pInputText
                      id="ftxt-regimenLaboral"
                      type="text"
                      formControlName="regimenLaboral"
                      required
                    />
                    <label for="ftxt-regimenLaboral">* Regimen Laboral</label>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="custom-toolbar d-flex justify-content-center">
            <div class="p-toolbar-group-center">
              <button
                pButton
                label="Guardar"
                class="p-button m-1 p-button-info guardar-button"
                icon="pi pi-send"
                type="submit"
                (click)="save()"
                pTooltip="Guardar"
                tooltipPosition="right"
              ></button>

              <button
                pButton
                label="Cancelar"
                class="p-button m-1 p-button-danger cancelar-button"
                icon="pi pi-times"
                (click)="cancel()"
                pTooltip="Cancelar"
                tooltipPosition="right"
              ></button>
            </div>
          </div>
        </app-spinner>
      </form>
    </p-dialog>

    <p-card class="custom-card">
      <div class="caja-boton-principal custom-button-box">
        <button
          pButton
          label="Agregar"
          class="agregar"
          icon="pi pi-plus"
          (click)="openModal()"
          tooltipPosition="right"
        ></button>
      </div>

      <p-divider class="custom-divider"></p-divider>

      <app-table [list]="list" (selectedOneRegister)="setSeleccionado($event)">
      </app-table>
    </p-card>
  </div>
  <br />
  <app-footer></app-footer>
</app-spinner>
