<footer>
  <div class="footer-container">
      <div class="footer-section">
          <img src="assets/img/log.jpeg" alt="Logo" />
          <p>Formamos profesionales de excelencia de nivel Técnico y Tecnológico que promuevan, integren y apliquen sus conocimientos con la sociedad.</p>
          <div class="socials">
              <a href="https://www.facebook.com/yavirac.edu.ec" class="social-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/superiortecnologicoyavirac/" class="social-icon"><i class="fab fa-instagram"></i></a>
              <a href="https://twitter.com/SuperiorYavirac" class="social-icon"><i class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UC-kA7Htxrs4nKWc9-Of4O0g?view_as=subscriber" class="social-icon"><i class="fab fa-youtube"></i></a>
              <a href="https://www.tiktok.com/@instituto_yavirac" class="social-icon"><i class="fab fa-tiktok"></i></a>
              <a href="https://www.linkedin.com/school/instituto-superior-tecnol%C3%B3gico-yavirac-quito/?trk=blended-typeahead" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
      <div class="footer-section">
          <h2>Enlaces</h2>
          <ul>
              <li><a href="/home"><i class="fas fa-chevron-right"></i> Inicio</a></li>
              <li><a href="https://yavirac.edu.ec/historia/"><i class="fas fa-chevron-right"></i> Historia</a></li>
              <li><a href="https://yavirac.edu.ec/carreras-vigentes/"><i class="fas fa-chevron-right"></i> Oferta</a></li>
              <li><a href="https://yavirac.edu.ec/blog/"><i class="fas fa-chevron-right"></i> Blog</a></li>
              <li><a href="https://yavirac.edu.ec/contactos/"><i class="fas fa-chevron-right"></i> Contactos</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h2>Admisiones</h2>
          <ul>
              <li><a href="https://yavirac.edu.ec/requisitos-matricula/"><i class="fas fa-chevron-right"></i> Requisitos matrículas</a></li>
              <li><a href="https://yavirac.edu.ec/admisiones/"><i class="fas fa-chevron-right"></i> Proceso de admisión</a></li>
              <li><a href="https://yavirac.edu.ec/proceso-de-homologacion/"><i class="fas fa-chevron-right"></i> Proceso de homologación</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h2>Información</h2>
          <ul>
              <li><p><i class="fas fa-map-marker-alt info-icon"></i> García Moreno S4-35 y Ambato, Quito - Ecuador</p></li>
              <li><p><i class="fas fa-phone-alt info-icon"></i> +593 99522 5249</p></li>
              <li><p><i class="fas fa-envelope info-icon"></i> yavirac@yavirac.edu.ec</p></li>
              <li><p><i class="fas fa-clock info-icon"></i> Atención: Lunes - Viernes: 8:00 - 17:00</p></li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>© 2024 - Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac | Quito. Todos los derechos reservados.</p>
  </div>
</footer>
