<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
  </section>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Instituto Yavirac
          </h6>
          <p>García Moreno S4-35 y Ambato,</p>
          <p>Quito - Ecuador</p>
          <p>info@yavirac.edu.ec</p>
          <p>yavirac.edu.ec</p>
          <p>Horario de atención: De lunes a viernes, de 08H00 a 17H00</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Yavirac</h6>
          <p>
            <a href="/docentes" class="text-reset">Docentes</a>
          </p>
          <p>
            <a href="/inventario" class="text-reset">Inventario</a>
          </p>
          <p>
            <a href="/inventario-oficinas" class="text-reset">Oficinas</a>
          </p>
          <p>
            <a href="/inventario-laboratorios" class="text-reset">Laboratorios</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Links</h6>
          <p>
            <a href="#!" class="text-reset">Aula virtual (EVA)</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bolsa de empleo</a>
          </p>
          <p>
            <a href="#!" class="text-reset">IGNUG</a>
          </p>
          <p>
            <a href="#!" class="text-reset">YEC</a>
          </p>
          <p>
            <a href="#!" class="text-reset">SIGA</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contactanos</h6>
          <p>
            <i class="fas fa-home me-3"></i> Dirección: García Moreno S4-35 y
            Ambato, Quito - Ecuador
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Correo electrónico: info@yavirac.edu.ec
          </p>
          <p><i class="fas fa-phone me-3"></i>098402301</p>
          <p>
            <i class="fas fa-print me-3"></i> Horario de atención: de lunes a
            viernes, de 08H00 a 17H00
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <footer>
    <p>
      &copy; 2024 | Instituto Superior Tecnológico de Turismo y Patrimonio
      Yavirac | Quito | Todos los derechos reservados.
    </p>
  </footer>
  <!-- Footer -->
</footer>
