.bold-text {
    font-weight: bold;
}

.botones{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

.ancho-list{
    width: 30vw;
}

.ancho-list-spanded{
    width: 60vw;
}
.text-wrap{
    word-wrap: break-word;
}
