<app-navbar></app-navbar>
<div class="contenedor-imagen-logo-yavirac d-block">
    <div class="container-page mb-4">
        <div class="custom-card-header">
            <h4 class="m-1">DOCENTES</h4>
            <div class="line"></div>
            <p class="mt-1">Se podran Visualizar, Agregar, Editar, Eliminar varios registros relacionados a tus adaocentes</p>
        </div>

        <main>
            <div class="container">
                <app-card ruta="/docentes" rutaImg="/assets/img/profe.jpeg" titulo="DOCENTES"
                    descripcion="Información sobre tus docentes."></app-card>
                <app-card ruta="/inventario" rutaImg="/assets/img/inve.jpeg" titulo="INVENTARIOS"
                    descripcion="Información sobre los laboratorios, aulas y oficinas."></app-card>
                <app-card ruta="/docentes" rutaImg="/assets/img/profe.jpeg" titulo="DOCENTES"
                    descripcion="Información sobre tus docentes."></app-card>
                <app-card ruta="/inventario" rutaImg="/assets/img/inve.jpeg" titulo="INVENTARIOS"
                    descripcion="Información sobre los laboratorios, aulas y oficinas."></app-card>
                <app-card ruta="/docentes" rutaImg="/assets/img/profe.jpeg" titulo="DOCENTES"
                    descripcion="Información sobre tus docentes."></app-card>
                <app-card ruta="/inventario" rutaImg="/assets/img/inve.jpeg" titulo="INVENTARIOS"
                    descripcion="Información sobre los laboratorios, aulas y oficinas."></app-card>

                <app-card ruta="/docentes" rutaImg="/assets/img/profe.jpeg" titulo="DOCENTES"
                    descripcion="Información sobre tus docentes."></app-card>
                <app-card ruta="/inventario" rutaImg="/assets/img/inve.jpeg" titulo="INVENTARIOS"
                    descripcion="Información sobre los laboratorios, aulas y oficinas."></app-card>

                <app-card ruta="/docentes" rutaImg="/assets/img/profe.jpeg" titulo="DOCENTES"
                    descripcion="Información sobre tus docentes."></app-card>
                <app-card ruta="/inventario" rutaImg="/assets/img/inve.jpeg" titulo="INVENTARIOS"
                    descripcion="Información sobre los laboratorios, aulas y oficinas."></app-card>

                <app-card ruta="/docentes" rutaImg="/assets/img/profe.jpeg" titulo="DOCENTES"
                    descripcion="Información sobre tus docentes."></app-card>

            </div>
        </main>
    </div>
    <app-footer></app-footer>
</div>