<app-spinner [load]="loadingSpiner">
    <app-navbar></app-navbar>

    <div class="nacionalidad-container">
        <div class="custom-card-header">
            <h4>Bienes</h4>
        </div>
        <!-- <p-confirmDialog class="custom-confirm-dialog"></p-confirmDialog> -->
    
        <p-dialog class="custom-dialog bg-blue-900" header="Categorias De Aulas" [(visible)]="modal" [modal]="true"
            (onHide)="closeModal()" [draggable]="true" [resizable]="true">
            <br>
            <form [formGroup]="form" class="custom-form">
                <div class="p-fluid p-formgrid grid custom-form-grid">
                    <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                        <span class="p-float-label">
                            <input pInputText id="ftxt-descripcion" type="text" formControlName="descripcion" required>
                            <label for="ftxt-descripcion">* nombre</label>
                            <label for="ftxt-descripcion">* codigoDelBien</label>
                            <label for="ftxt-descripcion">* marca</label>
                            <label for="ftxt-descripcion">* modelo</label>
                            <label for="ftxt-descripcion">* custodio</label>
                            <label for="ftxt-descripcion">* estado</label>
                            <label for="ftxt-descripcion">* observaciones</label>
                            <label for="ftxt-descripcion">* valor</label>
                            <label for="ftxt-descripcion">* valorIva</label>
                            <label for="ftxt-descripcion">* serie</label>
                            <label for="ftxt-descripcion">* descripcion</label>
                        </span>
                    </div>
                </div><br>
                <div class="central custom-toolbar">
                    <div class="p-toolbar-group-center">
                        <button pButton label="Guardar" class="p-button m-1 p-button-info guardar-button" icon="pi pi-send"
                            type="submit" (click)="save()" pTooltip="Guardar" tooltipPosition="right"></button>
    
                        <button pButton label="Cancelar" class="p-button m-1 p-button-danger cancelar-button"
                            icon="pi pi-times" (click)="cancel()" pTooltip="Cancelar" tooltipPosition="right"></button>
                    </div>
                </div>
            </form>
    
        </p-dialog>
    
        <p-card class="custom-card">
            <div class="caja-boton-principal custom-button-box">
                <button pButton label="Agregar" class="agregar" icon="pi pi-plus" (click)="openModal()"
                    tooltipPosition="right"></button>
            </div>
    
            <p-divider class="custom-divider"></p-divider>
    
            <app-table [list]="list" (selectedOneRegister)="setSeleccionado($event)">
            </app-table>
        </p-card>
    </div>
    <br>
</app-spinner>
