.button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .guardar-button {
    background-color: white !important;
    color: blue !important;
    border: solid blue 1px !important  ;
  
  }
  
  .cancelar-button {
    background-color: white !important;
    color: red !important;
    border: solid red 1px !important;
  }

  .caja-boton-principal{
    text-align: right;
  }

  /*persolalizacion de estilos*/

  .nacionalidad-container{
   margin-top: 80px;
   width: 95%;
   margin-left: 2.5%;
  }

  .agregar{
    background-color: #0D3C61;
  }

  .custom-card-header {
    background-color: #0D3C61;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

  
  h4{
   color: rgb(255, 255, 255);
  }



