<div class="container-nav">
  <nav>
    <div class="menu-icon">
      <i class="fas fa-bars icono" (click)="openSidebar()"></i>
      <div class="logo" style="margin-left: 25px">
        <img src="/assets/img/log.jpeg" alt="Logo" />
      </div>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/home"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li>
        <a href="/docentes"><i class="fas fa-chalkboard-teacher"></i> Docentes</a>
      </li>
      <li>
        <a href="/inventario"><i class="fas fa-box"></i> Inventario</a>
      </li>
      <li class="dropdown">
        <a><i class="fas fa-folder"></i> Otros</a>
        <ul class="dropdown-menu">
          <li>
            <a href="/nacionalidad"><i class="fas fa-globe"></i> Nacionalidades</a>
          </li>
          <li>
            <a href="/categoria-bien"><i class="fas fa-tags"></i> Categoría del Bien</a>
          </li>
          <li>
            <a href="/carreras"><i class="fas fa-graduation-cap"></i> Carreras</a>
          </li>
          <li>
            <a href="/rol-institucional"><i class="fas fa-user-tag"></i> Roles Institucionales</a>
          </li>
          <li>
            <a href="/instituto"><i class="fas fa-university"></i> Institutos</a>
          </li>
          <li>
            <a href="/instituto"><i class="fas fa-book"></i> Titulos</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="logout">
      <a (click)="cerrarSesion()" class="pointer-botton"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    </div>
  </nav>
  <app-sidebar></app-sidebar>
</div>
