<section class="content">
  <div class="container-fluid">
    <div class="card">
      <p-table #dt [value]="list" [rows]="5" [paginator]="true" [loading]="loading"
        [globalFilterFields]="['id', 'tipo_de_titulo', 'fecha_de_inicio', 'fecha_de_fin', 'nombre', 'numero_de_horas']" responsiveLayout="scroll" [(selection)]="selectedAllRegister"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 15]">

        <ng-template pTemplate="caption">
          <div class="botones">
            <div>
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-sm p-button-outlined p-button-success p-mr-2 m-1" pTooltip="Exportar a Excel"
                tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                class="p-button-sm p-button-outlined p-button-danger p-mr-2 m-1" pTooltip="Exportar a PDF"
                tooltipPosition="bottom"></button>
              <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger p-button-sm m-1"
                (click)="deleteSelected()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                [disabled]="!selectedAllRegister || !selectedAllRegister.length"></button>
              <button pButton label="Limpiar" class="p-button-outlined p-button-sm m-1" icon="pi pi-filter-slash"
                (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
            </div>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="p-inputtext-sm" (input)="applyFilter($event, dt)"
                placeholder="Busqueda General" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              <div class="flex justify-content-between align-items-center">
                <span style="font-weight: bold;">&#8470;</span>
                <p-sortIcon field="id"></p-sortIcon>
                <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="tipoDeTitulo">
              <div class="flex justify-content-between align-items-center">Tipo de Título
                <p-sortIcon field="tipoDeTitulo"></p-sortIcon>
                <p-columnFilter type="text" field="tipoDeTitulo" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="fechaDeInicio">
              <div class="flex justify-content-between align-items-center">Fecha de Inicio
                <p-sortIcon field="fechaDeInicio"></p-sortIcon>
                <p-columnFilter type="date" field="fechaDeInicio" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="fechaDeFin">
              <div class="flex justify-content-between align-items-center">Fecha de Fin
                <p-sortIcon field="fechaDeFin"></p-sortIcon>
                <p-columnFilter type="date" field="fechaDeFin" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="nombre">
              <div class="flex justify-content-between align-items-center">Nombre
                <p-sortIcon field="nombre"></p-sortIcon>
                <p-columnFilter type="text" field="nombre" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="numeroDeHoras">
              <div class="flex justify-content-between align-items-center">Número de Horas
                <p-sortIcon field="numeroDeHoras"></p-sortIcon>
                <p-columnFilter type="number" field="numeroDeHoras" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-estudiosEnCurso let-rowIndex="rowIndex">
          <tr>
            <td>
              <p-tableCheckbox [value]="estudiosEnCurso"></p-tableCheckbox>
            </td>
            <td>{{rowIndex + 1}}</td>
            <td>{{estudiosEnCurso.tipoDeTitulo}}</td>
            <td>{{estudiosEnCurso.fechaDeInicio}}</td>
            <td>{{estudiosEnCurso.fechaDeFin}}</td>
            <td>{{estudiosEnCurso.nombre}}</td>
            <td>{{estudiosEnCurso.numeroDeHoras}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                (click)="edit(estudiosEnCurso)" pTooltip="Editar" tooltipPosition="left"></button>
              <button pButton pRipple icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text p-button-sm"
                (click)="deleteRegister(estudiosEnCurso.id)" pTooltip="Eliminar" tooltipPosition="left"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Registros Totales: {{list ? list.length : 0}}.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
<app-global-confirm-dialog></app-global-confirm-dialog>
