<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>

</head>
<body>
    <div class="container">
        <div class="animation">
            <img src="https://i.pinimg.com/originals/62/77/2f/62772f74556d755130cf03c940b7ffb1.png" alt="Sad Character" class="character">
        </div>
        <h1>404</h1>
        <p>¡Oh no! Parece que te perdiste en el camino... No encontramos la página que buscabas. ¡No te preocupes, estamos aquí para ayudarte a volver a casa!</p>
        <a href="/" class="home-button">¡Llévame a Casa!</a>
    </div>
</body>
</html>
