<app-spinner [load]="loadingSpiner">
    <app-navbar></app-navbar>

    <div class="nacionalidad-container">
        <div class="custom-card-header">
            <h4>Docentes</h4>
        </div>

        <p-dialog class="custom-dialog bg-blue-900" header="Docentes" [(visible)]="modal" [modal]="true"
            (onHide)="closeModal()" [style]="{ width: '60rem', minHeight: '90vh'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
            [maximizable]="true">
            <br>

            <form [formGroup]="form" class="custom-form">
                <app-spinner [load]="loadingSpinerForm">
                    <div class="p-fluid p-formgrid grid custom-form-grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                            <div class="d-flex">
                                <p-tabView>
                                    <p-tabPanel header="Discapacidad" formGroupName="discapacidadForm">
                                        <!-- Subformularios de uno a uno -->
                                        <!-- Discapacidad Form -->
                                    
                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-numeroCarnet" type="text"
                                                    formControlName="numeroCarnet" required>
                                                <label for="ftxt-numeroCarnet">* Número de Carnet</label>
                                            </span>

                                            <div class="p-float-label mb-4">
                                                <p-inputNumber formControlName="porcentaje" [showButtons]="true"
                                                    inputId="porcentaje"></p-inputNumber>
                                                <label for="ftxt-porcentaje">* Porcentaje</label>
                                            </div>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-tipoDiscapacidad" type="text"
                                                    formControlName="tipoDiscapacidad" required>
                                                <label for="ftxt-tipoDiscapacidad">* Tipo de Discapacidad</label>
                                            </span>

                                    </p-tabPanel>

                                    <p-tabPanel header="Enfermedad Catastrofica" formGroupName="enfermedadForm">

                                        <!-- Enfermedad Form -->
                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-cargoDiscapacidad" type="text"
                                                    formControlName="cargoDiscapacidad" required>
                                                <label for="ftxt-cargoDiscapacidad">* Cargo discapacidad</label>
                                            </span>
                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-certificadoEnfermedad" type="text"
                                                    formControlName="certificadoEnfermedad" required>
                                                <label for="ftxt-certificadoEnfermedad">* Certificado de
                                                    Enfermedad</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-tipoEnfermedad" type="text"
                                                    formControlName="tipoEnfermedad" required>
                                                <label for="ftxt-tipoEnfermedad">* Tipo de Enfermedad</label>
                                            </span>

                                    </p-tabPanel>
                                    <p-tabPanel header="Entidad publica" formGroupName="entidadPublicaForm">

                                        <!-- Entidad Pública Form -->
                                            <span class="p-float-label mb-4">
                                                <p-dropdown formControlName="entidadPublica"
                                                    placeholder="* Entidad Publica" [options]="entidadPublicaOptions"
                                                    [filter]="true" [showClear]="true" optionLabel="label"
                                                    optionValue="value">
                                                </p-dropdown>
                                                <label for="ftxt-entidadPublica">* Labora entidad publica</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <p-dropdown formControlName="honorarioSenecsyt"
                                                    placeholder="* Horario Senecsyt"
                                                    [options]="honorarioSenecsytOptions" [filter]="true"
                                                    [showClear]="true" optionLabel="label" optionValue="value">
                                                </p-dropdown>
                                                <label for="ftxt-honorarioSenecsyt">* Horario Senecsyt</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <p-dropdown formControlName="familiarSenecsyt"
                                                    placeholder="* Familiar Senecsyt"
                                                    [options]="familiarSenecsytOptions" [filter]="true"
                                                    [showClear]="true" optionLabel="label" optionValue="value">
                                                </p-dropdown>
                                                <label for="ftxt-familiarSenecsyt">* Familiar Senecsyt</label>
                                            </span>


                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-nombreFamiliar" type="text"
                                                    formControlName="nombreFamiliar" required>
                                                <label for="ftxt-nombreFamiliar">* Nombre del Familiar</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <textarea id="float-observaciones" formControlName="observaciones"
                                                    rows="3" cols="30" pInputTextarea></textarea>
                                                <label for="float-observaciones">* Observaciones</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-codigoInstituto" type="text"
                                                    formControlName="codigoInstituto" required>
                                                <label for="ftxt-codigoInstituto">* Codigo Instituto</label>
                                            </span>

                                    </p-tabPanel>
                                    <p-tabPanel header="Fecha ingreso" formGroupName="fechaIngresoForm">

                                        <!-- Fecha Ingreso Form -->
                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-cambioOcupacionalEmergencia" type="date"
                                                    formControlName="cambioOcupacionalEmergencia" required>
                                                <label for="ftxt-cambioOcupacionalEmergencia">* Cambio Ocupacional
                                                    Emergencia</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-primerIngreso" type="date"
                                                    formControlName="primerIngreso" required>
                                                <label for="ftxt-primerIngreso">* Primer Ingreso</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-cambioGrupoOcupacionalModalidad" type="date"
                                                    formControlName="cambioGrupoOcupacionalModalidad" required>
                                                <label for="ftxt-cambioGrupoOcupacionalModalidad">* Cambio Grupo
                                                    Ocupacional
                                                    Modalidad</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-cambioInstitutoFusion" type="date"
                                                    formControlName="cambioInstitutoFusion" required>
                                                <label for="ftxt-cambioInstitutoFusion">* Cambio Instituto
                                                    Fusión</label>
                                            </span>

                                    </p-tabPanel>
                                    <p-tabPanel header="Usuario" formGroupName="userForm">

                                        <!-- User Form -->
                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-username" type="text"
                                                    formControlName="username" required>
                                                <label for="ftxt-username">* Username</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-password" type="password"
                                                    formControlName="password" required>
                                                <label for="ftxt-password">* Password</label>
                                            </span>
                                    </p-tabPanel>
                                    <p-tabPanel header="Docente" formGroupName="personaForm">
                                        <!--Persona-->
                                    
                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-nombres" type="text"
                                                    formControlName="nombres" required>
                                                <label for="ftxt-nombres">* Nombre</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-apellidos" type="text"
                                                    formControlName="apellidos" required>
                                                <label for="ftxt-apellidos">* Apellido</label>
                                            </span>

                                            <span class="p-float-label mb-4">
                                                <input pInputText id="ftxt-etnia" type="text" formControlName="etnia"
                                                    required>
                                                <label for="ftxt-etnia">* Etnia</label>
                                            </span>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-fechaDeNacimiento" type="date"
                                                        formControlName="fechaDeNacimiento" required>
                                                    <label for="ftxt-fecha_de_inicio">* Fecha de Nacimiento</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-dni" type="text" formControlName="dni"
                                                        required>
                                                    <label for="ftxt-dni">* Dni</label>
                                                </span>

                                                <div class="p-float-label mb-4">
                                                    <p-inputNumber formControlName="telefono" [showButtons]="true"
                                                        inputId="telefono"> </p-inputNumber>
                                                    <label for="ftxt-telefono">* Telefono</label>
                                                </div>

                                                <div class="p-float-label mb-4">
                                                    <p-inputNumber formControlName="telefonoDomicilio"
                                                        [showButtons]="true" inputId="telefonoDomicilio">
                                                    </p-inputNumber>
                                                    <label for="ftxt-telefonoDomicilio">* Telefono Domicilio</label>
                                                </div>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-correoPersonal" type="text"
                                                        formControlName="correoPersonal" required>
                                                    <label for="ftxt-correoPersonal">* Correo Personal</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-tipoDeSangre" type="text"
                                                        formControlName="tipoDeSangre" required>
                                                    <label for="ftxt-tipoDeSangre">* Tipo de sangre</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-direccionDomiciliaria" type="text"
                                                        formControlName="direccionDomiciliaria" required>
                                                    <label for="ftxt-direccionDomiciliaria">* Direccion
                                                        Domiciliaria</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-modalidadLaboral" type="text"
                                                        formControlName="modalidadLaboral" required>
                                                    <label for="ftxt-modalidadLaboral">* Modalidad Laboral</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="modalidadJornada"
                                                        placeholder="* Modalidad Jornada"
                                                        [options]="modalidadJornadaOptions" [filter]="true"
                                                        [showClear]="true" optionLabel="label">
                                                    </p-dropdown>
                                                    <label for="ftxt-modalidadJornada">* Modalidad Jornada</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-horarioTrabajo" type="text"
                                                        formControlName="horarioTrabajo" required>
                                                    <label for="ftxt-horarioTrabajo">* Horario de trabajo</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <input pInputText id="ftxt-materiasImparte" type="text"
                                                        formControlName="materiasImparte" required>
                                                    <label for="ftxt-materiasImparte">* Materias que Imparte</label>
                                                </span>

                                                <div class="p-float-label mb-4">
                                                    <p-inputNumber formControlName="rmu" [showButtons]="true"
                                                        inputId="valor" mode="currency" currency="USD"> </p-inputNumber>
                                                    <label for="ftxt-rmu">* RMU</label>
                                                </div>

                                                <!--FKS-->
                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="escalaOcupacionales"
                                                        placeholder="* Escala Ocupacional"
                                                        [options]="formSelectDataEscalaOcupacionales" [filter]="true"
                                                        filterBy="descripcion" [showClear]="true"
                                                        optionLabel="descripcion">
                                                    </p-dropdown>
                                                    <label for="ftxt-escalaOcupacionales">* Escala Ocupacional</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="estadoCivil"
                                                        placeholder="* Estado Civil"
                                                        [options]="formSelectDataEstadoCivil" [filter]="true"
                                                        filterBy="nombre" [showClear]="true" optionLabel="nombre">
                                                    </p-dropdown>
                                                    <label for="ftxt-estadoCivil">* Estado Civil</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="estudiosenCursos"
                                                        placeholder="* Estudios en Curso"
                                                        [options]="formSelectDataEstudiosenCursos" [filter]="true"
                                                        filterBy="nombre" [showClear]="true" optionLabel="nombre">
                                                    </p-dropdown>
                                                    <label for="ftxt-estudiosenCursos">* Estudios en Curso</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="genero" placeholder="* Genero"
                                                        [options]="formSelectDataGenero" [filter]="true"
                                                        filterBy="nombre" [showClear]="true" optionLabel="nombre">
                                                    </p-dropdown>
                                                    <label for="ftxt-genero">* Genero</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="institutos" placeholder="* Institutos"
                                                        [options]="formSelectDataInstitutos" [filter]="true"
                                                        filterBy="nombre" [showClear]="true" optionLabel="nombre">
                                                    </p-dropdown>
                                                    <label for="ftxt-institutos">* Institutos</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="nacionalidad"
                                                        placeholder="* Nacionalidad"
                                                        [options]="formSelectDataNacionalidad" [filter]="true"
                                                        filterBy="nombre" [showClear]="true" optionLabel="nombre">
                                                    </p-dropdown>
                                                    <label for="ftxt-nacionalidad">* Nacionalidad</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="carreras" placeholder="* Carreras"
                                                        [options]="formSelectDataCarreras" [filter]="true"
                                                        filterBy="descripcion" [showClear]="true"
                                                        optionLabel="descripcion">
                                                    </p-dropdown>
                                                    <label for="ftxt-carreras">* Carreras</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="provincia" placeholder="* Provincias"
                                                        [options]="formSelectDataProvincia" [filter]="true"
                                                        filterBy="descripcion" [showClear]="true"
                                                        optionLabel="descripcion">
                                                    </p-dropdown>
                                                    <label for="ftxt-provincia">* Provincias</label>
                                                </span>

                                                <span class="p-float-label mb-4">
                                                    <p-dropdown formControlName="rolesInstitucionales"
                                                        placeholder="* Roles Institucionales"
                                                        [options]="formSelectDataRolesInstitucionales" [filter]="true"
                                                        filterBy="descripcion" [showClear]="true"
                                                        optionLabel="descripcion">
                                                    </p-dropdown>
                                                    <label for="ftxt-rolesInstitucionales">* Roles
                                                        Institucionales</label>
                                                </span>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </div>
                    </div><br>
                    <div class="custom-toolbar d-flex justify-content-center">
                        <div class="p-toolbar-group-center">
                            <button pButton label="Guardar" class="p-button m-1 p-button-info guardar-button"
                                icon="pi pi-send" type="submit" (click)="save()" pTooltip="Guardar"
                                tooltipPosition="right"></button>

                            <button pButton label="Cancelar" class="p-button m-1 p-button-danger cancelar-button"
                                icon="pi pi-times" (click)="cancel()" pTooltip="Cancelar"
                                tooltipPosition="right"></button>
                        </div>
                    </div>
                </app-spinner>
            </form>
        </p-dialog>

        <p-card class="custom-card">
            <div class="caja-boton-principal custom-button-box">
                <button pButton label="Agregar" class="agregar" icon="pi pi-plus" (click)="openModal()"
                    tooltipPosition="right"></button>
            </div>

            <p-divider class="custom-divider"></p-divider>

            <app-table [list]="list" (selectedOneRegister)="setSeleccionado($event)">
            </app-table> 
        </p-card>
    </div>
    <br>
    <app-footer></app-footer>
</app-spinner>