<div id="sidebar" class="sidebar hidden">
  <ng-container *ngIf="content === 'docentes'; else inventario">
    <h4>Docentes</h4>
    <ul id="sidebar-menu">
      <li>
        <a href="/home"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li>
        <a href="/escala-ocupacional"><i class="fas fa-sitemap"></i> Escala ocupacional</a>
      </li>
      <li>
        <a href="/persona"><i class="fas fa-user"></i> Docentes</a>
      </li>
    </ul>

    <ul id="additional-options" class="hidden">
      <li>
        <a href="/provincia"><i class="fas fa-certificate"></i> Provincia</a>
      </li>
      <li>
        <a href="/estudios-curso"><i class="fas fa-book"></i> Estudios en Curso</a>
      </li>
      <li>
        <a href="/generos"><i class="fas fa-venus-mars"></i> Género</a>
      </li>
      <li>
        <a href="/instituto"><i class="fas fa-university"></i> Institutos</a>
      </li>
      <li>
        <a href="/rol-institucional"><i class="fas fa-user-tie"></i> Rol institucional</a>
      </li>
      <li>
        <button (click)="toggleOptions()"><i class="fas fa-arrow-left"></i> Atrás</button>
      </li>
    </ul>
    <a (click)="closeSidebar()" class="close-sidebar-button"><i class="fas fa-times"></i> Cerrar</a>
  </ng-container>

  <ng-template #inventario>
    <h4>Inventario</h4>
    <ul>
      <li>
        <a href="/home"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li>
        <a href="/bienes"><i class="fas fa-university"></i> Bienes</a></li>
    </ul>
    <div class="btn-group">
      <a href="/infraestructura" class="btn btn-danger btn-custom">
        <i class="fas fa-chart-line"></i>  network
      </a>
      <button type="button" class="btn btn-danger btn-custom dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden"></span><i class="fa-solid fa-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" ara-labelledby="dropdownMenuButton1">

        <li><a class="dropdown-item" href="/infraestructura?categoria=1"><i class="fas fa-chalkboard"></i> Aula</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/infraestructura?categoria=2"><i class="fas fa-flask"></i> Laboratorios</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/infraestructura?categoria=3"><i class="fas fa-building"></i> Oficinas</a></li>
      </ul>

    </div>
    <a (click)="closeSidebar()" class="close-sidebar-button"><i class="fas fa-times"></i> Cerrar</a>
  </ng-template>
</div>
